<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="jumbotron">
        <h1>{{title}}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="card">
                <p>
                    {{helpMessage}}
                </p>
            </div>
        </div>
    </div>

</body>

</html>