<!DOCTYPE html>
<html>

<head>
    {{>headCss}}
</head>

<body>
    {{>navbar}}
    {{>header}}
    <div class="container">
        <div class="row">
            <div class="card">
                <p>
                    {{helpMessage}}
                </p>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>